<ion-view cache-view="false" view-title="{{view_title}}" hide-back-button="{{hide_back_btn}}"> <ion-content>

<div class="col" ng-show="error != true">
	<h1 class="headerH1">The following code is now activated. Please give it to your supporter.</h1>
	<input readonly class="code" value="{{org_code.code.code}}" />
</div>

<div class="col" ng-show="error">{{org_code.message}}</div>

<button class="btn btn_red" style="font-size:22px;width:95%" ng-click="go('tabs.home')">GET ANOTHER CODE</button>

<button class="btn btn_yellow" style="font-size:22px;width:95%" ng-if="hide_card" ng-click="supporter_card()">GO BACK TO CARD</button>

<button class="btn btn_blue" style="font-size:22px;width:95%" ng-if="hide_logout" ng-click="logout();">Logout</button>
</ion-content> </ion-view>