<ion-view cache-view="false"  view-title="{{view_title}}" hide-back-button="{{hide_back_btn}}"> <ion-content>
<div style="text-align: right;padding-right: 20px;color:white;"><a  style="color:white;font-size:13px;"  href="#" ng-click="merchants()">CLICK TO VIEW BUSINESSES</a></div>
<h1 style="color:white;font-weight:bolder;font-size:24px;">Virtual Discount Card</h1>
<p><strong>{{discount_data.organization.organisation_name}}</strong> {{discount_data.organization.organisation_city}} <strong>{{discount_data.organization.organisation_state}}</strong></p>
<img ng-src="{{discount_data.organization.organisation_logo}}" />
<h1 style="text-align: center;font-weight: bolder;color:black;">GOOD THRU: {{discount_data.code.expiry_date}}</h1>
<p ng-if="discount.code.subscription_allowed > 1">
   {{data.company_name}}
 </p>
<div style="float: left;width:45%;"><a style="color:white;" href="#" ng-click="login();">Login</a><!-- <br/><button class="btn btn_blue" style="font-size:22px;width:95%"   ng-click="logout();">Logout</button>--></div>
<div style="float: right;width:45%;color:white;"><strong>Card#</strong>{{discount_data.code.code}}</div>
</ion-content>
</ion-view>