<ion-view cache-view="false" view-title="{{view_title}}" hide-back-button="{{hide_back_btn}}">
    <ion-content>
        <h2 class="welcome_text">Welcome to</h2>
        <h1 class="org_name">{{org.organisation_name}}</h1>
        <p>{{org.organisation_city}} ({{org.organisation_state}})</p>
        <h3 class="iam">I AM</h3>
        <button class="btn btn_yellow" ng-click="supporter_home_view()" style="width:95%;font-size:18px;">A Supporter</button>
        <button class="btn btn_blue" ng-click="member_click()" style="width:95%;font-size:14px;">A Member of the Organization</button>
    </ion-content>
</ion-view>
