<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.propertytaxcard.fundraising" version="0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>My FundRaising</name>
	<description>
		Fund Raising App
	</description>
	<author email="imhassan66@gmail.com" href="http://imhassan.com/">
		imhassan.com
	</author>
	<access origin="*" />
	<access origin="tel:*" launch-external="yes" />
	<access origin="mailto:*" launch-external="yes" />
	<access origin="sms:*" launch-external="yes" />
	<content src="index.html" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="BackupWebStorage" value="none" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="15" />
	<preference name="android-installLocation" value="auto" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="android-targetSdkVersion" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="StatusBarOverlaysWebview" value="false" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.SplashScreen" />
		<param name="ios-package" value="CDVSplashScreen" />
	</feature>
	<platform name="android">
		<icon src="resources/android/icon/drawable-ldpi-icon.png"
			density="ldpi" />
		<icon src="resources/android/icon/drawable-mdpi-icon.png"
			density="mdpi" />
		<icon src="resources/android/icon/drawable-hdpi-icon.png"
			density="hdpi" />
		<icon src="resources/android/icon/drawable-xhdpi-icon.png"
			density="xhdpi" />
		<icon src="resources/android/icon/drawable-xxhdpi-icon.png"
			density="xxhdpi" />
		<icon src="resources/android/icon/drawable-xxxhdpi-icon.png"
			density="xxxhdpi" />
		<splash src="resources/android/splash/drawable-port-ldpi-screen.png"
			density="port-ldpi" />
		<splash src="resources/android/splash/drawable-port-mdpi-screen.png"
			density="port-mdpi" />
		<splash src="resources/android/splash/drawable-port-hdpi-screen.png"
			density="port-hdpi" />
		<splash src="resources/android/splash/drawable-port-xhdpi-screen.png"
			density="port-xhdpi" />
		<splash src="resources/android/splash/drawable-port-xxhdpi-screen.png"
			density="port-xxhdpi" />
		<splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png"
			density="port-xxxhdpi" />
	</platform>
	<icon src="resources/android/icon/drawable-xhdpi-icon.png" />
</widget>